# Model dependencies
torch
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
accelerate
bitsandbytes
numpy
safetensors
# This fixes a bug in the latest version of protobuf not being backwards compatible...
protobuf<3.21

# Server dependencies
fastapi
pydantic
typing
uvicorn
aiohttp

# Codegen dependencies
pytest
docker
yapf
pipreqs
autoimport

