# Model dependencies
torch
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
accelerate
bitsandbytes

# Server dependencies
fastapi
pydantic
typing
uvicorn
aiohttp

# Codegen dependencies
pytest
docker
yapf
pipreqs
